.myimg {
    width: 200px;
}

.radiobuttons {
    display: flex;
    justify-content: center;

}

.textcontainer {
    margin: 20px;
}

.label {
    font-size: small;
    margin: 2%;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

@media (max-width: 800px) {
    .maincontainer {
        flex-direction: column;
        align-items: center;

    }
}

.panel {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10%;
    width: 350px;
    flex-grow: 0;
}

#madeby {
    display: block;
    text-align: center;
    font-size: small;
    margin-top: 5%;
}